<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Intent Category"
            id="IntentEMFModelPlugin">
      </category>
      <view
            name="Intent View"
            icon="icons/sample.gif"
            category="IntentEMFModelPlugin"
            class="intentemfmodelplugin.views.IntentView"
            id="intentemfmodelplugin.views.IntentView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="intentemfmodelplugin.views.IntentView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
