<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="platform:/resource/IntentEMFModel/model/AndroidIntentsDsl.ecore"
            class="androidintentsdsl.AndroidintentsdslPackage"
            genModel="model/AndroidIntentsDsl.genmodel"/>
   </extension>

</plugin>
